@import "tailwindcss";

.hero {
  height: 95vh;
  background-image: url('apple.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: #1c1c1c;
  padding: 20px;
  font-weight: bold;
}

.hero-text h1 {
  margin-top: 20px;
  font-family: 'Alatsi', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

.hero-text h1 + h1 {
  margin-top: 5px;
}

.hero-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .hero-text p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text p {
    font-size: 1.5rem;
  }
}
