@import "tailwindcss";

.hero {
  height: 95vh;
  background-image: url('/public/apple.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  color: #1c1c1c;
  padding: 20px;
  font-weight: bold;
}

.hero-text h1 {
  margin-top: 20px;
  font-family: 'Alatsi', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}
.hero-text h1 + h1 {
  margin-top: 5px;
}

.hero-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 10px;
}