@import "tailwindcss";

h1{
text-align: center;
}
html, body, #root{
  height: 100%;
}
.molimte{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.glavno{
  flex:1;
  background-image: url("/public/background.png"); 
  background-size: cover;
  /*background-position: center;*/
  min-height: 70vh;
}
.Budinapodu{
  background:#decaca;
  color:#292121;
  padding:20px 20px; 
  text-align: center;
  width: 100%;
  margin-top: auto;
  z-index: 1000;
}
.namirnice{
  max-width: 100vw;
  margin: 0 auto;
  padding: 50px;
}
.listanamir{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  gap:20px;
  margin-top:30px;
}
.namirnica{
  background:white;
  border-radius: 10px;
  padding: 20px;

}
.namirnica .english{
  color:slategrey;
  font-style: oblique;
  margin: 0 0 15px 0;
  font-size: 14px;
}
.gluposti{
  background: cornsilk;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;

}
.gluposti div{
  display: flex;
  justify-content: space-between;
  padding: 8px 0;

}
.umro{
  text-align: center;
  padding: 40px;
}
